// Header styles

.app__header {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin: 32px 64px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--scandi-red);
  }

  .button__container {
    display: flex;
    justify-content: space-between;
    margin: 10px;

   input {
      border: 1px solid #ccc;
      color: #ccc;
      background-color: #895061;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease;
      text-transform: uppercase;
    }

    .button__delete {
      &:hover {
        background-color: var(--scandi-red);
      }
    }
    .button__add {
      &:hover {
        background-color: #00ece1;
      }
    }
  }
}

// body styles

.product__section {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;

  .product__container {
    height: 180px;
    width: 300px;
    border: 1px solid #ccc ;
    margin: 20px;

    .product__details{
      color: #ccc;
    }

    .delete-checkbox {
      margin: 10px;
     
    }

    .product__details {
      text-align: center;
    }
  }

}
