// Header styles
$color_grey: #ccc;
$red_main: #de4848;

.app__header {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin: 32px 64px;
    font-size: 2rem;
    font-weight: bold;
    color: $red_main;
  }

  .button__container {
    display: flex;
    justify-content: space-between;
    margin: 10px;

   input {
      border: 1px solid $color_grey;
      color:  $color_grey;
      background-color: #895061;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease;
      text-transform: uppercase;
    }

    .btn__delete {
      &:hover {
        background-color: $red_main;
      }
    }
    .btn__add {
      &:hover {
        background-color: #00ece1;
      }
    }
  }
}

// body styles

.product__section {
  display: flex;
  flex-wrap: wrap;
   flex: 1;
   justify-content: flex-start;
   align-items: flex-start;

  .product__container {
    height: 190px;
    width: 300px;
    border: 1px solid   $color_grey;
    margin: 20px;

    .product__details{
      color:   $color_grey;
      font-size: 18px;

      p {
        margin: 5px;
      }
    }

    .delete-checkbox {
      margin: 10px;
     
    }

    .product__details {
      text-align: center;
    }
  }

}
